.panel-top {
/*	background: url(../../images/bg-default.jpg) no-repeat scroll;*/ background: url(../../images/bg-default.jpg) no-repeat fixed center center;
	width: 100%;
	height: auto;
	background-size: cover;
	overflow: hidden;
}
.panel-top-inner {
	background: rgba(21, 52, 76, 0.85);width: 100%;
	height: 100%;
	background: rgba(21, 52, 76, 0.85);
	padding: 108px 0;
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4) inset;
	color: #fff;
}

.region-panel-top {
	text-align: center;
}
.region-panel-top h2 {
	font-size: 35px;
	margin-bottom: 15px;
}
.region-panel-top h2 span {
  font-weight: 600;
	color: #c00000;
}

.region-panel-top p {
	font-size: 25px;
}